In [1]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [2]:
POSTGRES_ADDRESS = 'localhost' ## INSERT YOUR DB ADDRESS IF IT'S NOT ON PANOPLY
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'postgres' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES USERNAME
POSTGRES_PASSWORD = 'mySecurePassword' 
POSTGRES_DBNAME = 'postgres' 
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
.format(username=POSTGRES_USERNAME,
password=POSTGRES_PASSWORD,
ipaddress=POSTGRES_ADDRESS,
port=POSTGRES_PORT,
dbname=POSTGRES_DBNAME))
# Create the connection
cnx = create_engine(postgres_str)

In [3]:
m2018 = pd.read_sql_query('''SELECT * FROM m2018''', con=cnx)
m2019 = pd.read_sql_query('''SELECT * FROM m2019''', con=cnx)
cdc2018 = pd.read_sql_query('''SELECT * FROM cdc2018''', con=cnx)
cdc2019 = pd.read_sql_query('''SELECT * FROM cdc2019''', con=cnx)
cdc2020 = pd.read_sql_query('''SELECT * FROM cdc2020''', con=cnx)
nwt2018 = pd.read_sql_query('''SELECT * FROM nwt2018''', con=cnx)
nwt2019 = pd.read_sql_query('''SELECT * FROM nwt2019''', con=cnx)
nwt2020 = pd.read_sql_query('''SELECT * FROM nwt2020''', con=cnx)

In [4]:
nwt2018

,ndate,ndomain,nsiteid,nhorizontalposition,nverticalposition,nsurfwaternitratemean,nsurfwaternitratevariance,pdate,pdomainid,psiteid,...,pturbidity,pfdom,pspectrumcount,tdate,tdomainid,tsiteid,thorizontalposition,tverticalposition,tsurfwatertempmean,tsurfwatertempvariance
0,None,None,None,NaN,NaN,NaN,NaN,2018-01-01,D10,ARIK,...,NaN,NaN,0.0,2018-01-01,D10,ARIK,101.0,100.0,NaN,NaN
1,2018-01-01,D10,ARIK,102.0,100.0,NaN,NaN,2018-01-01,D10,ARIK,...,NaN,NaN,0.0,2018-01-01,D10,ARIK,102.0,100.0,NaN,NaN
2,None,None,None,NaN,NaN,NaN,NaN,2018-01-01,D13,COMO,...,NaN,NaN,0.0,2018-01-01,D13,COMO,101.0,100.0,NaN,NaN
3,2018-01-01,D13,COMO,102.0,100.0,NaN,NaN,2018-01-01,D13,COMO,...,NaN,NaN,0.0,2018-01-01,D13,COMO,102.0,100.0,NaN,NaN
4,None,None,None,NaN,NaN,NaN,NaN,2018-01-01,D01,HOPB,...,-5.744806,NaN,0.0,2018-01-01,D01,HOPB,101.0,100.0,-0.056439,0.000009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16288,2018-04-05,D08,MAYF,112.0,100.0,NaN,NaN,None,None,None,...,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN
16289,2018-04-06,D08,MAYF,112.0,100.0,NaN,NaN,None,None,None,...,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN
16290,2018-04-07,D08,MAYF,112.0,100.0,NaN,NaN,None,None,None,...,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN
16291,2018-04-08,D08,MAYF,112.0,100.0,NaN,NaN,None,None,None,...,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN
16292,2018-08-31,D08,MAYF,112.0,100.0,NaN,NaN,None,None,None,...,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN

In [20]:
#sql raw views
nwt2018.to_csv('ntw2018r.csv', index = False)
nwt2019.to_csv('ntw2019r.csv', index = False)
nwt2020.to_csv('ntw2020r.csv', index = False)
cdc2018.to_csv('cdc2018r.csv', index = False)
cdc2019.to_csv('cdc2019r.csv', index = False)
cdc2020.to_csv('cdc2020r.csv', index = False)
m2018.to_csv('m2018r.csv', index = False)
m2019.to_csv('m2019r.csv', index = False)

In [5]:
nwt2018['ndate'].apply(type)

0             <class 'NoneType'>
1        <class 'datetime.date'>
2             <class 'NoneType'>
3        <class 'datetime.date'>
4             <class 'NoneType'>
                  ...
16288    <class 'datetime.date'>
16289    <class 'datetime.date'>
16290    <class 'datetime.date'>
16291    <class 'datetime.date'>
16292    <class 'datetime.date'>
Name: ndate, Length: 16293, dtype: object

In [6]:
nwt2018['ndate'].isna()

0         True
1        False
2         True
3        False
4         True
         ...
16288    False
16289    False
16290    False
16291    False
16292    False
Name: ndate, Length: 16293, dtype: bool

In [7]:
nwt2018['ndate'] = nwt2018['ndate'].fillna(nwt2018['pdate'].fillna(nwt2018['tdate']))
nwt2018['pdate'] = nwt2018['pdate'].fillna(nwt2018['ndate'].fillna(nwt2018['tdate']))
nwt2018['tdate'] = nwt2018['tdate'].fillna(nwt2018['ndate'].fillna(nwt2018['pdate']))

In [8]:
nwt2018['ndomain'] = nwt2018['ndomain'].fillna(nwt2018['pdomainid'].fillna(nwt2018['tdomainid']))
nwt2018['pdomainid'] = nwt2018['pdomainid'].fillna(nwt2018['ndomain'].fillna(nwt2018['tdomainid']))
nwt2018['tdomainid'] = nwt2018['tdomainid'].fillna(nwt2018['ndomain'].fillna(nwt2018['pdomainid']))

In [9]:
nwt2018['nsiteid'] = nwt2018['nsiteid'].fillna(nwt2018['psiteid'].fillna(nwt2018['tsiteid']))
nwt2018['psiteid'] = nwt2018['psiteid'].fillna(nwt2018['nsiteid'].fillna(nwt2018['tsiteid']))
nwt2018['tsiteid'] = nwt2018['tsiteid'].fillna(nwt2018['nsiteid'].fillna(nwt2018['psiteid']))

In [10]:
nwt2018['nhorizontalposition'] = nwt2018['nhorizontalposition'].fillna(nwt2018['phorizontalposition'].fillna(nwt2018['thorizontalposition']))
nwt2018['phorizontalposition'] = nwt2018['phorizontalposition'].fillna(nwt2018['nhorizontalposition'].fillna(nwt2018['thorizontalposition']))
nwt2018['thorizontalposition'] = nwt2018['thorizontalposition'].fillna(nwt2018['nhorizontalposition'].fillna(nwt2018['phorizontalposition']))

In [11]:
nwt2018['nverticalposition'] = nwt2018['nverticalposition'].fillna(nwt2018['pverticalposition'].fillna(nwt2018['tverticalposition']))
nwt2018['pverticalposition'] = nwt2018['pverticalposition'].fillna(nwt2018['nverticalposition'].fillna(nwt2018['tverticalposition']))
nwt2018['tverticalposition'] = nwt2018['tverticalposition'].fillna(nwt2018['nverticalposition'].fillna(nwt2018['pverticalposition']))

In [12]:
nwt2018.apply(lambda row: row['ndate'] == row['pdate'] == row['tdate'], axis=1)
true_count = (nwt2018.apply(lambda row: row['ndate'] == row['pdate'] == row['tdate'], axis=1) == True).sum()
false_count = (nwt2018.apply(lambda row: row['ndate'] == row['pdate'] == row['tdate'], axis=1) == False).sum()

In [13]:
true_count

16293

In [14]:
false_count

0

In [15]:
nwt2018.apply(lambda row: row['ndomain'] == row['pdomainid'] == row['tdomainid'], axis=1)
true_count = (nwt2018.apply(lambda row: row['ndomain'] == row['pdomainid'] == row['tdomainid'], axis=1) == True).sum()
false_count = (nwt2018.apply(lambda row: row['ndomain'] == row['pdomainid'] == row['tdomainid'], axis=1) == False).sum()

In [16]:
true_count

16293

In [17]:
false_count

0

In [18]:
nwt2018.apply(lambda row: row['nsiteid'] == row['psiteid'] == row['tsiteid'], axis=1)
true_count = (nwt2018.apply(lambda row: row['nsiteid'] == row['psiteid'] == row['tsiteid'], axis=1) == True).sum()
false_count = (nwt2018.apply(lambda row: row['nsiteid'] == row['psiteid'] == row['tsiteid'], axis=1) == False).sum()

In [19]:
true_count

16293

In [20]:
false_count

0

In [21]:
nwt2018.apply(lambda row: row['nhorizontalposition'] == row['phorizontalposition'] == row['thorizontalposition'], axis=1)
true_count = (nwt2018.apply(lambda row: row['nhorizontalposition'] == row['phorizontalposition'] == row['thorizontalposition'], axis=1) == True).sum()
false_count = (nwt2018.apply(lambda row: row['nhorizontalposition'] == row['phorizontalposition'] == row['thorizontalposition'], axis=1) == False).sum()

In [22]:
true_count

16293

In [23]:
false_count

0

In [24]:
nwt2018.apply(lambda row: row['nverticalposition'] == row['pverticalposition'] == row['tverticalposition'], axis=1)
true_count = (nwt2018.apply(lambda row: row['nverticalposition'] == row['pverticalposition'] == row['tverticalposition'], axis=1) == True).sum()
false_count = (nwt2018.apply(lambda row: row['nverticalposition'] == row['pverticalposition'] == row['tverticalposition'], axis=1) == False).sum()

In [25]:
true_count

16293

In [26]:
false_count

0

In [27]:
nwt2018.columns

Index(['ndate', 'ndomain', 'nsiteid', 'nhorizontalposition',
       'nverticalposition', 'nsurfwaternitratemean',
       'nsurfwaternitratevariance', 'pdate', 'pdomainid', 'psiteid',
       'phorizontalposition', 'pverticalposition', 'pspecificconductance',
       'pdissolvedoxygen', 'psealeveldissolvedoxygensat',
       'plocaldissolvedoxygensat', 'pph', 'pchlorophyll',
       'pchlarelativefluorescence', 'pturbidity', 'pfdom', 'pspectrumcount',
       'tdate', 'tdomainid', 'tsiteid', 'thorizontalposition',
       'tverticalposition', 'tsurfwatertempmean', 'tsurfwatertempvariance'],
      dtype='object')

In [28]:
nwt2018

,ndate,ndomain,nsiteid,nhorizontalposition,nverticalposition,nsurfwaternitratemean,nsurfwaternitratevariance,pdate,pdomainid,psiteid,...,pturbidity,pfdom,pspectrumcount,tdate,tdomainid,tsiteid,thorizontalposition,tverticalposition,tsurfwatertempmean,tsurfwatertempvariance
0,2018-01-01,D10,ARIK,101.0,100.0,NaN,NaN,2018-01-01,D10,ARIK,...,NaN,NaN,0.0,2018-01-01,D10,ARIK,101.0,100.0,NaN,NaN
1,2018-01-01,D10,ARIK,102.0,100.0,NaN,NaN,2018-01-01,D10,ARIK,...,NaN,NaN,0.0,2018-01-01,D10,ARIK,102.0,100.0,NaN,NaN
2,2018-01-01,D13,COMO,101.0,100.0,NaN,NaN,2018-01-01,D13,COMO,...,NaN,NaN,0.0,2018-01-01,D13,COMO,101.0,100.0,NaN,NaN
3,2018-01-01,D13,COMO,102.0,100.0,NaN,NaN,2018-01-01,D13,COMO,...,NaN,NaN,0.0,2018-01-01,D13,COMO,102.0,100.0,NaN,NaN
4,2018-01-01,D01,HOPB,101.0,100.0,NaN,NaN,2018-01-01,D01,HOPB,...,-5.744806,NaN,0.0,2018-01-01,D01,HOPB,101.0,100.0,-0.056439,0.000009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16288,2018-04-05,D08,MAYF,112.0,100.0,NaN,NaN,2018-04-05,D08,MAYF,...,NaN,NaN,NaN,2018-04-05,D08,MAYF,112.0,100.0,NaN,NaN
16289,2018-04-06,D08,MAYF,112.0,100.0,NaN,NaN,2018-04-06,D08,MAYF,...,NaN,NaN,NaN,2018-04-06,D08,MAYF,112.0,100.0,NaN,NaN
16290,2018-04-07,D08,MAYF,112.0,100.0,NaN,NaN,2018-04-07,D08,MAYF,...,NaN,NaN,NaN,2018-04-07,D08,MAYF,112.0,100.0,NaN,NaN
16291,2018-04-08,D08,MAYF,112.0,100.0,NaN,NaN,2018-04-08,D08,MAYF,...,NaN,NaN,NaN,2018-04-08,D08,MAYF,112.0,100.0,NaN,NaN
16292,2018-08-31,D08,MAYF,112.0,100.0,NaN,NaN,2018-08-31,D08,MAYF,...,NaN,NaN,NaN,2018-08-31,D08,MAYF,112.0,100.0,NaN,NaN

In [29]:
nwt2018 = nwt2018.drop(columns=['nhorizontalposition', 'nverticalposition', 'nsurfwaternitratevariance', 'pdate','pdomainid', 'psiteid', 'phorizontalposition', 'pverticalposition', 
                          'tdate', 'tdomainid', 'tsiteid', 'thorizontalposition', 'tverticalposition', 'tsurfwatertempvariance'])

In [30]:
nwt2018

,ndate,ndomain,nsiteid,nsurfwaternitratemean,pspecificconductance,pdissolvedoxygen,psealeveldissolvedoxygensat,plocaldissolvedoxygensat,pph,pchlorophyll,pchlarelativefluorescence,pturbidity,pfdom,pspectrumcount,tsurfwatertempmean
0,2018-01-01,D10,ARIK,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN
1,2018-01-01,D10,ARIK,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN
2,2018-01-01,D13,COMO,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN
3,2018-01-01,D13,COMO,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN
4,2018-01-01,D01,HOPB,NaN,1306.314319,13.033618,89.565507,None,6.265639,0.01125,None,-5.744806,NaN,0.0,-0.056439
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16288,2018-04-05,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
16289,2018-04-06,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
16290,2018-04-07,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
16291,2018-04-08,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
16292,2018-08-31,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN

In [31]:
nwt2018.columns

Index(['ndate', 'ndomain', 'nsiteid', 'nsurfwaternitratemean',
       'pspecificconductance', 'pdissolvedoxygen',
       'psealeveldissolvedoxygensat', 'plocaldissolvedoxygensat', 'pph',
       'pchlorophyll', 'pchlarelativefluorescence', 'pturbidity', 'pfdom',
       'pspectrumcount', 'tsurfwatertempmean'],
      dtype='object')

In [32]:
nwt2019['ndate'] = nwt2019['ndate'].fillna(nwt2019['pdate'].fillna(nwt2019['tdate']))
nwt2019['pdate'] = nwt2019['pdate'].fillna(nwt2019['ndate'].fillna(nwt2019['tdate']))
nwt2019['tdate'] = nwt2019['tdate'].fillna(nwt2019['ndate'].fillna(nwt2019['pdate']))
nwt2019['ndomain'] = nwt2019['ndomain'].fillna(nwt2019['pdomainid'].fillna(nwt2019['tdomainid']))
nwt2019['pdomainid'] = nwt2019['pdomainid'].fillna(nwt2019['ndomain'].fillna(nwt2019['tdomainid']))
nwt2019['tdomainid'] = nwt2019['tdomainid'].fillna(nwt2019['ndomain'].fillna(nwt2019['pdomainid']))
nwt2019['nsiteid'] = nwt2019['nsiteid'].fillna(nwt2019['psiteid'].fillna(nwt2019['tsiteid']))
nwt2019['psiteid'] = nwt2019['psiteid'].fillna(nwt2019['nsiteid'].fillna(nwt2019['tsiteid']))
nwt2019['tsiteid'] = nwt2019['tsiteid'].fillna(nwt2019['nsiteid'].fillna(nwt2019['psiteid']))
nwt2019['nhorizontalposition'] = nwt2019['nhorizontalposition'].fillna(nwt2019['phorizontalposition'].fillna(nwt2019['thorizontalposition']))
nwt2019['phorizontalposition'] = nwt2019['phorizontalposition'].fillna(nwt2019['nhorizontalposition'].fillna(nwt2019['thorizontalposition']))
nwt2019['thorizontalposition'] = nwt2019['thorizontalposition'].fillna(nwt2019['nhorizontalposition'].fillna(nwt2019['phorizontalposition']))
nwt2019['nverticalposition'] = nwt2019['nverticalposition'].fillna(nwt2019['pverticalposition'].fillna(nwt2019['tverticalposition']))
nwt2019['pverticalposition'] = nwt2019['pverticalposition'].fillna(nwt2019['nverticalposition'].fillna(nwt2019['tverticalposition']))
nwt2019['tverticalposition'] = nwt2019['tverticalposition'].fillna(nwt2019['nverticalposition'].fillna(nwt2019['pverticalposition']))

In [33]:
nwt2019.apply(lambda row: row['ndate'] == row['pdate'] == row['tdate'], axis=1)
nwt2019.apply(lambda row: row['ndomain'] == row['pdomainid'] == row['tdomainid'], axis=1)
nwt2019.apply(lambda row: row['nsiteid'] == row['psiteid'] == row['tsiteid'], axis=1)
nwt2019.apply(lambda row: row['nhorizontalposition'] == row['phorizontalposition'] == row['thorizontalposition'], axis=1)
nwt2019.apply(lambda row: row['nverticalposition'] == row['pverticalposition'] == row['tverticalposition'], axis=1)

0        True
1        True
2        True
3        True
4        True
         ...
19969    True
19970    True
19971    True
19972    True
19973    True
Length: 19974, dtype: bool

In [34]:
nwt2019 = nwt2019.drop(columns=['nhorizontalposition', 'nverticalposition', 'nsurfwaternitratevariance', 'pdate','pdomainid', 'psiteid', 'phorizontalposition', 'pverticalposition', 
                          'tdate', 'tdomainid', 'tsiteid', 'thorizontalposition', 'tverticalposition', 'tsurfwatertempvariance'])

In [35]:
nwt2019

,ndate,ndomain,nsiteid,nsurfwaternitratemean,pspecificconductance,pdissolvedoxygen,psealeveldissolvedoxygensat,plocaldissolvedoxygensat,pph,pchlorophyll,pchlarelativefluorescence,pturbidity,pfdom,pspectrumcount,tsurfwatertempmean
0,2019-01-01,D10,ARIK,NaN,551.490021,9.543458,65.887542,None,8.059486,9.131444,None,1.230160,NaN,0.00,0.223604
1,2019-01-01,D10,ARIK,NaN,545.420382,9.450208,65.042424,None,8.052660,9.779167,None,0.812806,53.632451,0.00,0.127259
2,2019-01-01,D17,BIGC,NaN,179.472946,12.236076,91.711215,None,7.262097,0.735528,None,1.028854,NaN,0.00,3.316107
3,2019-01-01,D17,BIGC,NaN,177.947366,12.627826,94.504333,None,7.312451,5.085007,None,1.034181,-0.764528,0.00,3.223658
4,2019-01-01,D12,BLDE,NaN,114.396160,11.667785,79.861222,None,7.846000,21.817542,None,1.876062,NaN,49.75,-0.091551
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19969,2019-02-26,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
19970,2019-02-25,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
19971,2019-02-24,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
19972,2019-02-23,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
19973,2019-02-22,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN

In [36]:
nwt2020['ndate'] = nwt2020['ndate'].fillna(nwt2020['pdate'].fillna(nwt2020['tdate']))
nwt2020['pdate'] = nwt2020['pdate'].fillna(nwt2020['ndate'].fillna(nwt2020['tdate']))
nwt2020['tdate'] = nwt2020['tdate'].fillna(nwt2020['ndate'].fillna(nwt2020['pdate']))
nwt2020['ndomain'] = nwt2020['ndomain'].fillna(nwt2020['pdomainid'].fillna(nwt2020['tdomainid']))
nwt2020['pdomainid'] = nwt2020['pdomainid'].fillna(nwt2020['ndomain'].fillna(nwt2020['tdomainid']))
nwt2020['tdomainid'] = nwt2020['tdomainid'].fillna(nwt2020['ndomain'].fillna(nwt2020['pdomainid']))
nwt2020['nsiteid'] = nwt2020['nsiteid'].fillna(nwt2020['psiteid'].fillna(nwt2020['tsiteid']))
nwt2020['psiteid'] = nwt2020['psiteid'].fillna(nwt2020['nsiteid'].fillna(nwt2020['tsiteid']))
nwt2020['tsiteid'] = nwt2020['tsiteid'].fillna(nwt2020['nsiteid'].fillna(nwt2020['psiteid']))
nwt2020['nhorizontalposition'] = nwt2020['nhorizontalposition'].fillna(nwt2020['phorizontalposition'].fillna(nwt2020['thorizontalposition']))
nwt2020['phorizontalposition'] = nwt2020['phorizontalposition'].fillna(nwt2020['nhorizontalposition'].fillna(nwt2020['thorizontalposition']))
nwt2020['thorizontalposition'] = nwt2020['thorizontalposition'].fillna(nwt2020['nhorizontalposition'].fillna(nwt2020['phorizontalposition']))
nwt2020['nverticalposition'] = nwt2020['nverticalposition'].fillna(nwt2020['pverticalposition'].fillna(nwt2020['tverticalposition']))
nwt2020['pverticalposition'] = nwt2020['pverticalposition'].fillna(nwt2020['nverticalposition'].fillna(nwt2020['tverticalposition']))
nwt2020['tverticalposition'] = nwt2020['tverticalposition'].fillna(nwt2020['nverticalposition'].fillna(nwt2020['pverticalposition']))

In [37]:
nwt2020.apply(lambda row: row['ndate'] == row['pdate'] == row['tdate'], axis=1)
nwt2020.apply(lambda row: row['ndomain'] == row['pdomainid'] == row['tdomainid'], axis=1)
nwt2020.apply(lambda row: row['nsiteid'] == row['psiteid'] == row['tsiteid'], axis=1)
nwt2020.apply(lambda row: row['nhorizontalposition'] == row['phorizontalposition'] == row['thorizontalposition'], axis=1)
nwt2020.apply(lambda row: row['nverticalposition'] == row['pverticalposition'] == row['tverticalposition'], axis=1)

0        True
1        True
2        True
3        True
4        True
         ...
20313    True
20314    True
20315    True
20316    True
20317    True
Length: 20318, dtype: bool

In [38]:
nwt2020 = nwt2020.drop(columns=['nhorizontalposition', 'nverticalposition', 'nsurfwaternitratevariance', 'pdate','pdomainid', 'psiteid', 'phorizontalposition', 'pverticalposition', 
                          'tdate', 'tdomainid', 'tsiteid', 'thorizontalposition', 'tverticalposition', 'tsurfwatertempvariance'])

In [39]:
nwt2020

,ndate,ndomain,nsiteid,nsurfwaternitratemean,pspecificconductance,pdissolvedoxygen,psealeveldissolvedoxygensat,plocaldissolvedoxygensat,pph,pchlorophyll,pchlarelativefluorescence,pturbidity,pfdom,pspectrumcount,tsurfwatertempmean
0,2020-01-01,D10,ARIK,NaN,548.593347,8.746181,61.309583,None,7.690521,2.259882,None,1.892632,NaN,20.0,0.686670
1,2020-01-01,D10,ARIK,8.583333,549.665549,8.994958,62.818590,None,7.729792,1.319569,None,2.942854,60.423347,20.0,-0.022869
2,2020-01-01,D17,BIGC,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN
3,2020-01-01,D17,BIGC,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN
4,2020-01-01,D12,BLDE,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20313,2020-03-14,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
20314,2020-03-15,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
20315,2020-03-16,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
20316,2020-03-17,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
20317,2020-03-18,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN

In [40]:
nwt2018.to_csv('ntw2018.csv', index = False)
nwt2019.to_csv('ntw2019.csv', index = False)
nwt2020.to_csv('ntw2020.csv', index = False)

In [41]:
cdc2018

,cdate,cdomainid,csiteid,claboratoryname,canalyte,canalytecon,ddate,ddomainid,dsiteid,dconcentrationch4,dconcentrationco2,dconcentrationn2o,dvolumegasanalyzed,dgasstandardaccuracy,c2date,c2domainid,c2siteid,c2microbialabundanceperml
0,2018-01-25,D01,HOPB,SIRFER Lab at University of Utah,TPC,"270.342, microgramsPerLiter",2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN,NaN,None,None,None,NaN
1,2018-01-25,D01,HOPB,SIRFER Lab at University of Utah,TPN,"23.7767, microgramsPerLiter",2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN,NaN,None,None,None,NaN
2,2018-01-25,D01,HOPB,EcoCore_CSU,UV Absorbance (254 nm),"0.0609,",2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN,NaN,None,None,None,NaN
3,2018-01-25,D01,HOPB,EcoCore_CSU,HCO3,"15.69, milligramsPerLiter",2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN,NaN,None,None,None,NaN
4,2018-01-25,D01,HOPB,EcoCore_CSU,TN,"0.1461, milligramsPerLiter",2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN,NaN,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23016,None,None,None,None,None,None,2018-10-31,D17,TECR,2.624899,837.463783,0.507326,1.0,2.0,None,None,None,NaN
23017,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,2018-10-10,D18,OKSR,745130.000000
23018,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,2018-09-26,D18,OKSR,833470.000000
23019,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,2018-07-02,D17,BIGC,155545.555556
23020,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,2018-10-09,D17,BIGC,337997.777778

In [42]:
cdc2019

,cdate,cdomainid,csiteid,claboratoryname,canalyte,canalytecon,ddate,ddomainid,dsiteid,dconcentrationch4,dconcentrationco2,dconcentrationn2o,dvolumegasanalyzed,dgasstandardaccuracy,c2date,c2domainid,c2siteid,c2microbialabundanceperml
0,2019-01-24,D01,HOPB,EcoCore_CSU,SO4,"6.96, milligramsPerLiter",2019-01-24,D01,HOPB,5.19286,849.923278,0.376799,27.5,2.0,None,None,None,NaN
1,2019-01-24,D01,HOPB,EcoCore_CSU,TSS - Dry Mass,"700, microgram",2019-01-24,D01,HOPB,5.19286,849.923278,0.376799,27.5,2.0,None,None,None,NaN
2,2019-01-24,D01,HOPB,EcoCore_CSU,Ortho - P,"0.437, milligramsPerLiter",2019-01-24,D01,HOPB,5.19286,849.923278,0.376799,27.5,2.0,None,None,None,NaN
3,2019-01-24,D01,HOPB,EcoCore_CSU,TOC,"2.261, milligramsPerLiter",2019-01-24,D01,HOPB,5.19286,849.923278,0.376799,27.5,2.0,None,None,None,NaN
4,2019-01-24,D01,HOPB,EcoCore_CSU,DIC,"1.801, milligramsPerLiter",2019-01-24,D01,HOPB,5.19286,849.923278,0.376799,27.5,2.0,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26695,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,2019-08-05,D12,BLDE,2.952678e+05
26696,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,2019-08-06,D18,OKSR,2.582989e+05
26697,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,2019-01-23,D16,MCRA,1.689989e+05
26698,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,2019-03-04,D17,BIGC,3.837967e+05
26699,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,2019-09-24,D16,MCRA,1.157064e+06

In [43]:
cdc2020

,cdate,cdomainid,csiteid,claboratoryname,canalyte,canalytecon,ddate,ddomainid,dsiteid,dconcentrationch4,dconcentrationco2,dconcentrationn2o,dvolumegasanalyzed,dgasstandardaccuracy,c2date,c2domainid,c2siteid,c2microbialabundanceperml
0,2020-01-21,D01,HOPB,SIRFER Lab at University of Utah,TPC,"131.7665, microgramsPerLiter",2020-01-21,D01,HOPB,2.499582,753.555355,0.401409,1.0,2.0,2020-01-21,D01,HOPB,2.765433e+05
1,2020-01-21,D01,HOPB,SIRFER Lab at University of Utah,TPN,"11.2816, microgramsPerLiter",2020-01-21,D01,HOPB,2.499582,753.555355,0.401409,1.0,2.0,2020-01-21,D01,HOPB,2.765433e+05
2,2020-01-21,D01,HOPB,EcoCore_CSU,SO4,"7.87, milligramsPerLiter",2020-01-21,D01,HOPB,2.499582,753.555355,0.401409,1.0,2.0,2020-01-21,D01,HOPB,2.765433e+05
3,2020-01-21,D01,HOPB,EcoCore_CSU,Mg,"1.053, milligramsPerLiter",2020-01-21,D01,HOPB,2.499582,753.555355,0.401409,1.0,2.0,2020-01-21,D01,HOPB,2.765433e+05
4,2020-01-21,D01,HOPB,EcoCore_CSU,CO3,"0.005, milligramsPerLiter",2020-01-21,D01,HOPB,2.499582,753.555355,0.401409,1.0,2.0,2020-01-21,D01,HOPB,2.765433e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12645,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,2020-10-20,D17,BIGC,3.187933e+05
12646,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,2020-01-28,D16,MCRA,3.346367e+05
12647,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,2020-10-07,D19,CARI,8.353889e+04
12648,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,2020-06-02,D06,KING,2.596958e+06
12649,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,2020-02-04,D15,REDB,1.082168e+06

In [44]:
cdc2018.drop(cdc2018.columns[[range(6)]], axis=1, inplace=True)
cdc2019.drop(cdc2019.columns[[range(6)]], axis=1, inplace=True)
cdc2020.drop(cdc2020.columns[[range(6)]], axis=1, inplace=True)

C:\Users\wsken\anaconda3\lib\site-packages\pandas\core\indexes\base.py:5069: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [45]:
cdc2018

,ddate,ddomainid,dsiteid,dconcentrationch4,dconcentrationco2,dconcentrationn2o,dvolumegasanalyzed,dgasstandardaccuracy,c2date,c2domainid,c2siteid,c2microbialabundanceperml
0,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN,NaN,None,None,None,NaN
1,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN,NaN,None,None,None,NaN
2,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN,NaN,None,None,None,NaN
3,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN,NaN,None,None,None,NaN
4,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN,NaN,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
23016,2018-10-31,D17,TECR,2.624899,837.463783,0.507326,1.0,2.0,None,None,None,NaN
23017,None,None,None,NaN,NaN,NaN,NaN,NaN,2018-10-10,D18,OKSR,745130.000000
23018,None,None,None,NaN,NaN,NaN,NaN,NaN,2018-09-26,D18,OKSR,833470.000000
23019,None,None,None,NaN,NaN,NaN,NaN,NaN,2018-07-02,D17,BIGC,155545.555556
23020,None,None,None,NaN,NaN,NaN,NaN,NaN,2018-10-09,D17,BIGC,337997.777778

In [46]:
cdc2019

,ddate,ddomainid,dsiteid,dconcentrationch4,dconcentrationco2,dconcentrationn2o,dvolumegasanalyzed,dgasstandardaccuracy,c2date,c2domainid,c2siteid,c2microbialabundanceperml
0,2019-01-24,D01,HOPB,5.19286,849.923278,0.376799,27.5,2.0,None,None,None,NaN
1,2019-01-24,D01,HOPB,5.19286,849.923278,0.376799,27.5,2.0,None,None,None,NaN
2,2019-01-24,D01,HOPB,5.19286,849.923278,0.376799,27.5,2.0,None,None,None,NaN
3,2019-01-24,D01,HOPB,5.19286,849.923278,0.376799,27.5,2.0,None,None,None,NaN
4,2019-01-24,D01,HOPB,5.19286,849.923278,0.376799,27.5,2.0,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
26695,None,None,None,NaN,NaN,NaN,NaN,NaN,2019-08-05,D12,BLDE,2.952678e+05
26696,None,None,None,NaN,NaN,NaN,NaN,NaN,2019-08-06,D18,OKSR,2.582989e+05
26697,None,None,None,NaN,NaN,NaN,NaN,NaN,2019-01-23,D16,MCRA,1.689989e+05
26698,None,None,None,NaN,NaN,NaN,NaN,NaN,2019-03-04,D17,BIGC,3.837967e+05
26699,None,None,None,NaN,NaN,NaN,NaN,NaN,2019-09-24,D16,MCRA,1.157064e+06

In [47]:
cdc2020

,ddate,ddomainid,dsiteid,dconcentrationch4,dconcentrationco2,dconcentrationn2o,dvolumegasanalyzed,dgasstandardaccuracy,c2date,c2domainid,c2siteid,c2microbialabundanceperml
0,2020-01-21,D01,HOPB,2.499582,753.555355,0.401409,1.0,2.0,2020-01-21,D01,HOPB,2.765433e+05
1,2020-01-21,D01,HOPB,2.499582,753.555355,0.401409,1.0,2.0,2020-01-21,D01,HOPB,2.765433e+05
2,2020-01-21,D01,HOPB,2.499582,753.555355,0.401409,1.0,2.0,2020-01-21,D01,HOPB,2.765433e+05
3,2020-01-21,D01,HOPB,2.499582,753.555355,0.401409,1.0,2.0,2020-01-21,D01,HOPB,2.765433e+05
4,2020-01-21,D01,HOPB,2.499582,753.555355,0.401409,1.0,2.0,2020-01-21,D01,HOPB,2.765433e+05
...,...,...,...,...,...,...,...,...,...,...,...,...
12645,None,None,None,NaN,NaN,NaN,NaN,NaN,2020-10-20,D17,BIGC,3.187933e+05
12646,None,None,None,NaN,NaN,NaN,NaN,NaN,2020-01-28,D16,MCRA,3.346367e+05
12647,None,None,None,NaN,NaN,NaN,NaN,NaN,2020-10-07,D19,CARI,8.353889e+04
12648,None,None,None,NaN,NaN,NaN,NaN,NaN,2020-06-02,D06,KING,2.596958e+06
12649,None,None,None,NaN,NaN,NaN,NaN,NaN,2020-02-04,D15,REDB,1.082168e+06

In [48]:
cdc2018['ddate'] = cdc2018['ddate'].fillna(cdc2018['c2date'])
cdc2018['c2date'] = cdc2018['c2date'].fillna(cdc2018['ddate'])
cdc2018['ddomainid'] = cdc2018['ddomainid'].fillna(cdc2018['c2domainid'])
cdc2018['c2domainid'] = cdc2018['c2domainid'].fillna(cdc2018['ddomainid'])
cdc2018['dsiteid'] = cdc2018['dsiteid'].fillna(cdc2018['c2siteid'])
cdc2018['c2siteid'] = cdc2018['c2siteid'].fillna(cdc2018['dsiteid'])

In [49]:
cdc2018.apply(lambda row: row['ddate'] == row['c2date'], axis=1)
cdc2018.apply(lambda row: row['ddomainid'] == row['c2domainid'] , axis=1)
cdc2018.apply(lambda row: row['dsiteid'] == row['c2siteid'], axis=1)

0        True
1        True
2        True
3        True
4        True
         ...
23016    True
23017    True
23018    True
23019    True
23020    True
Length: 23021, dtype: bool

In [50]:
cdc2019['ddate'] = cdc2019['ddate'].fillna(cdc2019['c2date'])
cdc2019['c2date'] = cdc2019['c2date'].fillna(cdc2019['ddate'])
cdc2019['ddomainid'] = cdc2019['ddomainid'].fillna(cdc2019['c2domainid'])
cdc2019['c2domainid'] = cdc2019['c2domainid'].fillna(cdc2019['ddomainid'])
cdc2019['dsiteid'] = cdc2019['dsiteid'].fillna(cdc2019['c2siteid'])
cdc2019['c2siteid'] = cdc2019['c2siteid'].fillna(cdc2019['dsiteid'])

In [51]:
cdc2019.apply(lambda row: row['ddate'] == row['c2date'], axis=1)
cdc2019.apply(lambda row: row['ddomainid'] == row['c2domainid'] , axis=1)
cdc2019.apply(lambda row: row['dsiteid'] == row['c2siteid'], axis=1)

0        True
1        True
2        True
3        True
4        True
         ...
26695    True
26696    True
26697    True
26698    True
26699    True
Length: 26700, dtype: bool

In [52]:
cdc2020['ddate'] = cdc2020['ddate'].fillna(cdc2020['c2date'])
cdc2020['c2date'] = cdc2020['c2date'].fillna(cdc2020['ddate'])
cdc2020['ddomainid'] = cdc2020['ddomainid'].fillna(cdc2020['c2domainid'])
cdc2020['c2domainid'] = cdc2020['c2domainid'].fillna(cdc2020['ddomainid'])
cdc2020['dsiteid'] = cdc2020['dsiteid'].fillna(cdc2020['c2siteid'])
cdc2020['c2siteid'] = cdc2020['c2siteid'].fillna(cdc2020['dsiteid'])

In [53]:
cdc2020.apply(lambda row: row['ddate'] == row['c2date'], axis=1)
cdc2020.apply(lambda row: row['ddomainid'] == row['c2domainid'] , axis=1)
cdc2020.apply(lambda row: row['dsiteid'] == row['c2siteid'], axis=1)

0        True
1        True
2        True
3        True
4        True
         ...
12645    True
12646    True
12647    True
12648    True
12649    True
Length: 12650, dtype: bool

In [54]:
cdc2018.dvolumegasanalyzed.unique()

array([nan,  1.])

In [55]:
cdc2018 = cdc2018.drop(columns=['dvolumegasanalyzed','dgasstandardaccuracy', 'c2date', 'c2domainid', 'c2siteid'])

In [56]:
cdc2018

,ddate,ddomainid,dsiteid,dconcentrationch4,dconcentrationco2,dconcentrationn2o,c2microbialabundanceperml
0,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN
1,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN
2,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN
3,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN
4,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN
...,...,...,...,...,...,...,...
23016,2018-10-31,D17,TECR,2.624899,837.463783,0.507326,NaN
23017,2018-10-10,D18,OKSR,NaN,NaN,NaN,745130.000000
23018,2018-09-26,D18,OKSR,NaN,NaN,NaN,833470.000000
23019,2018-07-02,D17,BIGC,NaN,NaN,NaN,155545.555556
23020,2018-10-09,D17,BIGC,NaN,NaN,NaN,337997.777778

In [57]:
cdc2019 = cdc2019.drop(columns=['dvolumegasanalyzed','dgasstandardaccuracy', 'c2date', 'c2domainid', 'c2siteid'])
cdc2020 = cdc2020.drop(columns=['dvolumegasanalyzed','dgasstandardaccuracy', 'c2date', 'c2domainid', 'c2siteid'])

In [58]:
cdc2019

,ddate,ddomainid,dsiteid,dconcentrationch4,dconcentrationco2,dconcentrationn2o,c2microbialabundanceperml
0,2019-01-24,D01,HOPB,5.19286,849.923278,0.376799,NaN
1,2019-01-24,D01,HOPB,5.19286,849.923278,0.376799,NaN
2,2019-01-24,D01,HOPB,5.19286,849.923278,0.376799,NaN
3,2019-01-24,D01,HOPB,5.19286,849.923278,0.376799,NaN
4,2019-01-24,D01,HOPB,5.19286,849.923278,0.376799,NaN
...,...,...,...,...,...,...,...
26695,2019-08-05,D12,BLDE,NaN,NaN,NaN,2.952678e+05
26696,2019-08-06,D18,OKSR,NaN,NaN,NaN,2.582989e+05
26697,2019-01-23,D16,MCRA,NaN,NaN,NaN,1.689989e+05
26698,2019-03-04,D17,BIGC,NaN,NaN,NaN,3.837967e+05
26699,2019-09-24,D16,MCRA,NaN,NaN,NaN,1.157064e+06

In [59]:
cdc2020

,ddate,ddomainid,dsiteid,dconcentrationch4,dconcentrationco2,dconcentrationn2o,c2microbialabundanceperml
0,2020-01-21,D01,HOPB,2.499582,753.555355,0.401409,2.765433e+05
1,2020-01-21,D01,HOPB,2.499582,753.555355,0.401409,2.765433e+05
2,2020-01-21,D01,HOPB,2.499582,753.555355,0.401409,2.765433e+05
3,2020-01-21,D01,HOPB,2.499582,753.555355,0.401409,2.765433e+05
4,2020-01-21,D01,HOPB,2.499582,753.555355,0.401409,2.765433e+05
...,...,...,...,...,...,...,...
12645,2020-10-20,D17,BIGC,NaN,NaN,NaN,3.187933e+05
12646,2020-01-28,D16,MCRA,NaN,NaN,NaN,3.346367e+05
12647,2020-10-07,D19,CARI,NaN,NaN,NaN,8.353889e+04
12648,2020-06-02,D06,KING,NaN,NaN,NaN,2.596958e+06
12649,2020-02-04,D15,REDB,NaN,NaN,NaN,1.082168e+06

In [60]:
cdc2018.to_csv('cdc2018.csv', index = False)
cdc2019.to_csv('cdc2019.csv', index = False)
cdc2020.to_csv('cdc2020.csv', index = False)

In [61]:
cdc = pd.concat([cdc2018,cdc2019,cdc2020])
nwt = pd.concat([nwt2018,nwt2019,nwt2020])

In [62]:
nwt

,ndate,ndomain,nsiteid,nsurfwaternitratemean,pspecificconductance,pdissolvedoxygen,psealeveldissolvedoxygensat,plocaldissolvedoxygensat,pph,pchlorophyll,pchlarelativefluorescence,pturbidity,pfdom,pspectrumcount,tsurfwatertempmean
0,2018-01-01,D10,ARIK,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN
1,2018-01-01,D10,ARIK,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN
2,2018-01-01,D13,COMO,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN
3,2018-01-01,D13,COMO,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN
4,2018-01-01,D01,HOPB,NaN,1306.314319,13.033618,89.565507,None,6.265639,0.01125,None,-5.744806,NaN,0.0,-0.056439
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20313,2020-03-14,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
20314,2020-03-15,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
20315,2020-03-16,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
20316,2020-03-17,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
20317,2020-03-18,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN

In [63]:
cdc

,ddate,ddomainid,dsiteid,dconcentrationch4,dconcentrationco2,dconcentrationn2o,c2microbialabundanceperml
0,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN
1,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN
2,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN
3,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN
4,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN
...,...,...,...,...,...,...,...
12645,2020-10-20,D17,BIGC,NaN,NaN,NaN,3.187933e+05
12646,2020-01-28,D16,MCRA,NaN,NaN,NaN,3.346367e+05
12647,2020-10-07,D19,CARI,NaN,NaN,NaN,8.353889e+04
12648,2020-06-02,D06,KING,NaN,NaN,NaN,2.596958e+06
12649,2020-02-04,D15,REDB,NaN,NaN,NaN,1.082168e+06

In [64]:
nwt.rename(columns={'ndate': 'date', 'ndomain': 'domain', 'nsiteid': 'siteid', 
                    'nsurfwaternitratemean': 'nitrate_mean','pspecificconductance': 'specific_conductance', 
                    'pdissolvedoxygen': 'DO', 'psealeveldissolvedoxygensat': 'sealevelDO_sat', 
                    'plocaldissolvedoxygensat': 'localDO_sat', 'pph': 'pH', 'pchlorophyll': 'chlorophyll', 
                    'pchlarelativefluorescence': 'chlarelativefluorescence', 'pturbidity': 'turbidity', 'pfdom': 'fDOM',
                    'pspectrumcount': 'spectrum_count', 'tsurfwatertempmean': 'surfwater_mean_temp'}, inplace=True)


cdc.rename(columns={'ddate': 'date', 'ddomainid': 'domain', 'dsiteid': 'siteid', 
                    'dconcentrationch4': 'CH4_conc', 'dconcentrationco2': 'CO2_conc', 'dconcentrationn2o': 'N2O_conc', 
                    'c2microbialabundanceperml': 'Microbialabundanceper_ml' }, inplace=True)

In [65]:
cdc.to_csv('cdc.csv', index = False)
nwt.to_csv('nwt.csv', index = False)

In [66]:
cdc

,date,domain,siteid,CH4_conc,CO2_conc,N2O_conc,Microbialabundanceper_ml
0,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN
1,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN
2,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN
3,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN
4,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN
...,...,...,...,...,...,...,...
12645,2020-10-20,D17,BIGC,NaN,NaN,NaN,3.187933e+05
12646,2020-01-28,D16,MCRA,NaN,NaN,NaN,3.346367e+05
12647,2020-10-07,D19,CARI,NaN,NaN,NaN,8.353889e+04
12648,2020-06-02,D06,KING,NaN,NaN,NaN,2.596958e+06
12649,2020-02-04,D15,REDB,NaN,NaN,NaN,1.082168e+06

In [67]:
nwt

,date,domain,siteid,nitrate_mean,specific_conductance,DO,sealevelDO_sat,localDO_sat,pH,chlorophyll,chlarelativefluorescence,turbidity,fDOM,spectrum_count,surfwater_mean_temp
0,2018-01-01,D10,ARIK,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN
1,2018-01-01,D10,ARIK,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN
2,2018-01-01,D13,COMO,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN
3,2018-01-01,D13,COMO,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN
4,2018-01-01,D01,HOPB,NaN,1306.314319,13.033618,89.565507,None,6.265639,0.01125,None,-5.744806,NaN,0.0,-0.056439
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20313,2020-03-14,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
20314,2020-03-15,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
20315,2020-03-16,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
20316,2020-03-17,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN
20317,2020-03-18,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN

In [68]:
nwt['date']

0        2018-01-01
1        2018-01-01
2        2018-01-01
3        2018-01-01
4        2018-01-01
            ...
20313    2020-03-14
20314    2020-03-15
20315    2020-03-16
20316    2020-03-17
20317    2020-03-18
Name: date, Length: 56585, dtype: object

In [69]:
nwt['date'] = pd.to_datetime(nwt['date'])
cdc['date'] = pd.to_datetime(cdc['date'])

In [70]:
nwt['year_month'] = nwt['date'].dt.to_period('M')
cdc['year_month'] = cdc['date'].dt.to_period('M')

In [71]:
cdc

,date,domain,siteid,CH4_conc,CO2_conc,N2O_conc,Microbialabundanceper_ml,year_month
0,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN,2018-01
1,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN,2018-01
2,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN,2018-01
3,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN,2018-01
4,2018-01-25,D01,HOPB,1.768811,517.539361,0.405911,NaN,2018-01
...,...,...,...,...,...,...,...,...
12645,2020-10-20,D17,BIGC,NaN,NaN,NaN,3.187933e+05,2020-10
12646,2020-01-28,D16,MCRA,NaN,NaN,NaN,3.346367e+05,2020-01
12647,2020-10-07,D19,CARI,NaN,NaN,NaN,8.353889e+04,2020-10
12648,2020-06-02,D06,KING,NaN,NaN,NaN,2.596958e+06,2020-06
12649,2020-02-04,D15,REDB,NaN,NaN,NaN,1.082168e+06,2020-02

In [72]:
cdc= cdc.drop(columns=['date'])
nwt= nwt.drop(columns=['date'])

In [73]:
cdc

,domain,siteid,CH4_conc,CO2_conc,N2O_conc,Microbialabundanceper_ml,year_month
0,D01,HOPB,1.768811,517.539361,0.405911,NaN,2018-01
1,D01,HOPB,1.768811,517.539361,0.405911,NaN,2018-01
2,D01,HOPB,1.768811,517.539361,0.405911,NaN,2018-01
3,D01,HOPB,1.768811,517.539361,0.405911,NaN,2018-01
4,D01,HOPB,1.768811,517.539361,0.405911,NaN,2018-01
...,...,...,...,...,...,...,...
12645,D17,BIGC,NaN,NaN,NaN,3.187933e+05,2020-10
12646,D16,MCRA,NaN,NaN,NaN,3.346367e+05,2020-01
12647,D19,CARI,NaN,NaN,NaN,8.353889e+04,2020-10
12648,D06,KING,NaN,NaN,NaN,2.596958e+06,2020-06
12649,D15,REDB,NaN,NaN,NaN,1.082168e+06,2020-02

In [74]:
nwt

,domain,siteid,nitrate_mean,specific_conductance,DO,sealevelDO_sat,localDO_sat,pH,chlorophyll,chlarelativefluorescence,turbidity,fDOM,spectrum_count,surfwater_mean_temp,year_month
0,D10,ARIK,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN,2018-01
1,D10,ARIK,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN,2018-01
2,D13,COMO,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN,2018-01
3,D13,COMO,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,0.0,NaN,2018-01
4,D01,HOPB,NaN,1306.314319,13.033618,89.565507,None,6.265639,0.01125,None,-5.744806,NaN,0.0,-0.056439,2018-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20313,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN,2020-03
20314,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN,2020-03
20315,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN,2020-03
20316,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN,2020-03
20317,D08,MAYF,NaN,NaN,NaN,NaN,None,NaN,NaN,None,NaN,NaN,NaN,NaN,2020-03

In [75]:
#multi-index

nwt = nwt.set_index(['siteid', 'year_month'])
cdc = cdc.set_index(['siteid', 'year_month'])

In [77]:
nwt

                  domain  nitrate_mean  specific_conductance         DO  \
siteid year_month
ARIK   2018-01       D10           NaN                   NaN        NaN
       2018-01       D10           NaN                   NaN        NaN
COMO   2018-01       D13           NaN                   NaN        NaN
       2018-01       D13           NaN                   NaN        NaN
HOPB   2018-01       D01           NaN           1306.314319  13.033618
...                  ...           ...                   ...        ...
MAYF   2020-03       D08           NaN                   NaN        NaN
       2020-03       D08           NaN                   NaN        NaN
       2020-03       D08           NaN                   NaN        NaN
       2020-03       D08           NaN                   NaN        NaN
       2020-03       D08           NaN                   NaN        NaN

                   sealevelDO_sat localDO_sat        pH  chlorophyll  \
siteid year_month
ARIK   2018-01                NaN        None       NaN          NaN
       2018-01                NaN        None       NaN          NaN
COMO   2018-01                NaN        None       NaN          NaN
       2018-01                NaN        None       NaN          NaN
HOPB   2018-01          89.565507        None  6.265639      0.01125
...                           ...         ...       ...          ...
MAYF   2020-03                NaN        None       NaN          NaN
       2020-03                NaN        None       NaN          NaN
       2020-03                NaN        None       NaN          NaN
       2020-03                NaN        None       NaN          NaN
       2020-03                NaN        None       NaN          NaN

                  chlarelativefluorescence  turbidity  fDOM  spectrum_count  \
siteid year_month
ARIK   2018-01                        None        NaN   NaN             0.0
       2018-01                        None        NaN   NaN             0.0
COMO   2018-01                        None        NaN   NaN             0.0
       2018-01                        None        NaN   NaN             0.0
HOPB   2018-01                        None  -5.744806   NaN             0.0
...                                    ...        ...   ...             ...
MAYF   2020-03                        None        NaN   NaN             NaN
       2020-03                        None        NaN   NaN             NaN
       2020-03                        None        NaN   NaN             NaN
       2020-03                        None        NaN   NaN             NaN
       2020-03                        None        NaN   NaN             NaN

                   surfwater_mean_temp
siteid year_month
ARIK   2018-01                     NaN
       2018-01                     NaN
COMO   2018-01                     NaN
       2018-01                     NaN
HOPB   2018-01               -0.056439
...                                ...
MAYF   2020-03                     NaN
       2020-03                     NaN
       2020-03                     NaN
       2020-03                     NaN
       2020-03                     NaN

[56585 rows x 13 columns]

In [79]:
nwt_mean = nwt.groupby(level=['siteid', 'year_month']).mean()
print(nwt_mean)

                   nitrate_mean  specific_conductance         DO  \
siteid year_month
ARIK   2018-01         8.660149            502.892593  10.317850
       2018-02         6.779605            473.351262  10.686342
       2018-03         6.819360            392.772029   8.808150
       2018-04        10.103376            432.040515   8.185286
       2018-05        10.966298            520.689686   6.918023
...                         ...                   ...        ...
WLOU   2020-08         0.608565            101.310149   8.517365
       2020-09         0.745188            108.925014   9.405750
       2020-10         0.844410            109.648758   9.925928
       2020-11         2.763742             86.458006  10.173941
       2020-12         3.950608             47.385342   9.005218

                   sealevelDO_sat        pH  chlorophyll  turbidity  \
siteid year_month
ARIK   2018-01          72.345689  7.922226    30.717375   9.131166
       2018-02          76.749335  8.117319    10.064374   2.119019
       2018-03          73.525342  7.996866    11.846334   3.039621
       2018-04          72.861153  7.980961    17.439632  21.911165
       2018-05          73.349581  7.878235    20.087257   1.670436
...                           ...       ...          ...        ...
WLOU   2020-08          71.471922  8.070554     0.144159   0.748615
       2020-09          71.803919  8.129209     0.314622   0.854992
       2020-10          71.839396  8.128787    -0.063925   0.847123
       2020-11          70.101678  7.993981     0.548632   4.475339
       2020-12          61.495093  7.942550     2.724455  88.504807

                        fDOM  spectrum_count  surfwater_mean_temp
siteid year_month
ARIK   2018-01     49.400000        0.000000            -2.563514
       2018-02     64.450000        0.000000             0.076778
       2018-03     50.641888        0.000000             6.185397
       2018-04     54.460085        0.000000             8.843930
       2018-05     75.949604        0.000000            16.872434
...                      ...             ...                  ...
WLOU   2020-08      8.849853       18.831093             7.690211
       2020-09      7.219275        9.427326             4.662067
       2020-10      8.064458       11.834162             1.832286
       2020-11      9.422236       16.935451             0.228434
       2020-12      4.925592       14.834241            -0.049731

[781 rows x 10 columns]

In [83]:
cdc_mean = cdc.groupby(level=['siteid', 'year_month']).mean()
print(cdc_mean)

                    CH4_conc     CO2_conc  N2O_conc  Microbialabundanceper_ml
siteid year_month
ARIK   2018-01     25.792847  1621.722701  0.491186              5.267444e+04
       2018-02     21.655379  1194.402935  0.695205              2.592556e+04
       2018-03     30.202994  1082.145814  0.459991              8.161889e+04
       2018-04     41.525762  1236.374964  0.887254                       NaN
       2018-05     43.830716  1685.241259  0.747159                       NaN
...                      ...          ...       ...                       ...
WLOU   2020-07      1.934345   674.225588  0.688619              6.273444e+04
       2020-08      1.750606   675.397467  0.927311                       NaN
       2020-09      2.442105   772.984708  0.915661              1.281893e+06
       2020-11      2.446485   726.306261  0.999789              2.006856e+05
       2020-12      2.807956   805.804145  0.725995              5.425222e+04

[726 rows x 4 columns]

In [84]:
cdc_mean

                    CH4_conc     CO2_conc  N2O_conc  Microbialabundanceper_ml
siteid year_month
ARIK   2018-01     25.792847  1621.722701  0.491186              5.267444e+04
       2018-02     21.655379  1194.402935  0.695205              2.592556e+04
       2018-03     30.202994  1082.145814  0.459991              8.161889e+04
       2018-04     41.525762  1236.374964  0.887254                       NaN
       2018-05     43.830716  1685.241259  0.747159                       NaN
...                      ...          ...       ...                       ...
WLOU   2020-07      1.934345   674.225588  0.688619              6.273444e+04
       2020-08      1.750606   675.397467  0.927311                       NaN
       2020-09      2.442105   772.984708  0.915661              1.281893e+06
       2020-11      2.446485   726.306261  0.999789              2.006856e+05
       2020-12      2.807956   805.804145  0.725995              5.425222e+04

[726 rows x 4 columns]

In [85]:
nwt_mean

                   nitrate_mean  specific_conductance         DO  \
siteid year_month
ARIK   2018-01         8.660149            502.892593  10.317850
       2018-02         6.779605            473.351262  10.686342
       2018-03         6.819360            392.772029   8.808150
       2018-04        10.103376            432.040515   8.185286
       2018-05        10.966298            520.689686   6.918023
...                         ...                   ...        ...
WLOU   2020-08         0.608565            101.310149   8.517365
       2020-09         0.745188            108.925014   9.405750
       2020-10         0.844410            109.648758   9.925928
       2020-11         2.763742             86.458006  10.173941
       2020-12         3.950608             47.385342   9.005218

                   sealevelDO_sat        pH  chlorophyll  turbidity  \
siteid year_month
ARIK   2018-01          72.345689  7.922226    30.717375   9.131166
       2018-02          76.749335  8.117319    10.064374   2.119019
       2018-03          73.525342  7.996866    11.846334   3.039621
       2018-04          72.861153  7.980961    17.439632  21.911165
       2018-05          73.349581  7.878235    20.087257   1.670436
...                           ...       ...          ...        ...
WLOU   2020-08          71.471922  8.070554     0.144159   0.748615
       2020-09          71.803919  8.129209     0.314622   0.854992
       2020-10          71.839396  8.128787    -0.063925   0.847123
       2020-11          70.101678  7.993981     0.548632   4.475339
       2020-12          61.495093  7.942550     2.724455  88.504807

                        fDOM  spectrum_count  surfwater_mean_temp
siteid year_month
ARIK   2018-01     49.400000        0.000000            -2.563514
       2018-02     64.450000        0.000000             0.076778
       2018-03     50.641888        0.000000             6.185397
       2018-04     54.460085        0.000000             8.843930
       2018-05     75.949604        0.000000            16.872434
...                      ...             ...                  ...
WLOU   2020-08      8.849853       18.831093             7.690211
       2020-09      7.219275        9.427326             4.662067
       2020-10      8.064458       11.834162             1.832286
       2020-11      9.422236       16.935451             0.228434
       2020-12      4.925592       14.834241            -0.049731

[781 rows x 10 columns]

In [92]:
finaltable = nwt_mean.join(cdc_mean, how='outer')
finaltable

In [94]:
#finaltable.to_csv('finaltable.csv', index = True)